<div>
    <h1>SignUp</h1>
   
    <div>
       
       
      <br /><br /><br />
      <div>
        <input type="text" placeholder="Name" ng-model = "newUser.name" />
        <input type="text" placeholder="Contact" ng-model = "newUser.phone" />
        <input type="text" placeholder="Age" ng-model = "newUser.age" />
        <input type="password" placeholder="Password" ng-model = "newUser.password" />
        <button ng-click="addUser();">Add Record</button>
      </div>
    </div>

    <a href="#/view2">View-two</a>
</div>


